@use '../../variables/index';

@mixin typo-13 {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.4px;
}

@mixin typo-14 {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
}
